<div class="container__header">
  <div class="header">
    <!-- Logo -->
    <div class="logo">
      <img src="./../../../assets/images/logo.svg" alt="Logo Shortly">
    </div>
    <!-- Items -->
    <div class="container__items">
      <a href="features" class="item">
        <span>Features</span>
      </a>
      <a href="pricing" class="item">
        <span>Pricing</span>
      </a>
      <a href="resources" class="item">
        <span>Resources</span>
      </a>
    </div>
    <div>
      <!-- Login -->
      <button class="login">
        <span>Login</span>
      </button>
      <!-- Sign Up -->
      <button class="signUp">
        <span>Sign Up</span>
      </button>
    </div>


  </div>
</div>
