<!-- Header -->
<app-header></app-header>

<div class="container__main">
  <div class="main">
    <div class="container__title">
      <h1 class="label__title">More Than Just shorter links</h1>
    </div>
    <div class="container__description">
      <h5 class="label__description">Build your brand's recognition and get detailed insights on how your links are
        performing.</h5>
    </div>

    <div class="button">
      <button class="button__started">
        <span class="label__button">Get Started</span>
      </button>
    </div>
  </div>

  <div class="container__image">
    <div class="image"></div>
  </div>
</div>
